/* line 7, ../sass/_contact.scss */
body {
  background-color: white;
  padding: 25px;
}

/* line 12, ../sass/_contact.scss */
.container {
  background-color: #f3f3f3;
  max-width: 1140px;
  border: 1px solid grey;
  padding: 15px;
}

/* line 19, ../sass/_contact.scss */
.container-fluid {
  padding: 15px;
}

@media (max-width: 599px) {
  /* line 23, ../sass/_contact.scss */
  .container-fluid,
  .contactinfo {
    padding: 15px 0;
    margin: 0;
  }
}

/* line 31, ../sass/_contact.scss */
.initial {
  margin: 0 0 50px 0;
}
/* line 33, ../sass/_contact.scss */
.initial input {
  display: inline;
  margin: 15px 0;
}
/* line 37, ../sass/_contact.scss */
.initial select {
  display: block;
  margin-bottom: 15px;
}
/* line 41, ../sass/_contact.scss */
.initial label {
  cursor: pointer;
}
/* line 43, ../sass/_contact.scss */
.initial label:first-of-type {
  margin-right: 15px;
}
/* line 47, ../sass/_contact.scss */
.initial .btn-light:not([disabled]):not(.disabled).active,
.initial .btn-light:not([disabled]):not(.disabled):active,
.initial .show > .btn-light.dropdown-toggle {
  background-color: #990033;
  color: #fff;
}
/* line 53, ../sass/_contact.scss */
.initial .btn-light {
  border-color: #8b8b8b;
}
/* line 56, ../sass/_contact.scss */
.initial select {
  width: 200px;
}

/* line 61, ../sass/_contact.scss */
.card {
  padding: 0;
}

/* line 65, ../sass/_contact.scss */
.contactinfo {
  flex: 1;
}
/* line 67, ../sass/_contact.scss */
.contactinfo input,
.contactinfo textarea {
  display: block;
}
/* line 71, ../sass/_contact.scss */
.contactinfo input[type="checkbox"] {
  display: inline;
}
/* line 74, ../sass/_contact.scss */
.contactinfo button {
  display: block;
}
/* line 77, ../sass/_contact.scss */
.contactinfo button[disabled] {
  opacity: .5;
}
/* line 80, ../sass/_contact.scss */
.contactinfo .recaptchaMsg {
  min-height: 30px;
}
