body {
    background-color: white;
    padding: 25px;
}


.initial {
    margin: 15px 0;
    input {
        display: inline;
        margin: 15px 0;
    }
}

.contactinfo {
    margin: 15px 0;
    input, textarea {
        margin: 5px 0;
        display: block;
    }
    input[type="checkbox"] {
        display: inline;
    }
    button {
        display: block;
    }
}