body {
    background-color: white;
    padding: 25px;
}
.container {
    background-color: #f3f3f3;
    max-width: 1140px;
    border: 1px solid grey;
    padding: 15px;
}
.container-fluid {
    padding: 15px;
}

.initial {
    margin: 0 0 50px 0;
    input {
        display: inline;
        margin: 15px 0;
    }
    select {
        display: block;
        margin-bottom: 15px;
    }
    label {
        cursor: pointer;
    }
    .btn-light:not([disabled]):not(.disabled).active,
    .btn-light:not([disabled]):not(.disabled):active,
    .show>.btn-light.dropdown-toggle {
        background-color: #990033;
        color: #fff;
    }
    .btn-light {
        border-color: #8b8b8b;
    }

    select {
        width: 200px;
    }
}
.card {
    padding: 0;
}

.contactinfo {
    flex:1;
    input,
    textarea {
        display: block;
    }
    input[type="checkbox"] {
        display: inline;
    }
    button {
        display: block;
    }
    button[disabled] {
        opacity: .5;
    }
    .recaptchaMsg {
        min-height: 30px;
    }

}